* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}



/* header section */


/* nav related style */


.header {
  width: 100%;
  background: rgba(255, 144, 14, 0.10);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw 6vw;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 4vw;
}

nav ul > li {
  list-style-type: none;
  cursor: pointer;
}

/* banner section related styles */

.banner-text {
  text-align: center;
  margin-bottom: 3vw;
}

.grey-text {
  color: rgb(94, 89, 89);
  margin-top: 1vw;
  margin-bottom: 2vw;
}

button {
  border: .5px solid rgba(0, 0, 0, 0.247);
  padding: 2vw 3vw;
  border-radius: 50px;
  cursor: pointer;
}

.banner-section img {
  width: 70%;
  border-radius: 15px;
  padding-bottom: 5vw;
}

.banner-img-container {
  display: flex;
  justify-content: center;
}

/* main related style */
/* section1 related style */


.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  gap: 4vw;
  margin-top: 4vw;
}

.section1-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}


/* section2 related style */


.section2 {
  display: flex;
  padding: 10vw;
  justify-content: center;
  align-items: center;
  gap: 2vw;

}

.card {
  margin-top: 1vw;
  padding: 20px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.section2-text-container > h1 {
  padding-left: 20px ;
  border-left: 5px solid orangered;
  margin-bottom: 5px;
}



.section2-img-container img {
  width: 100%;
}

.section2-img-container {
  padding-bottom: 95px;
}


/* section3 styles */

.section3 {
  padding-left: 10vw;
  padding-right: 10vw;
}

.misinformation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 6px;
}


.section3-card {
  border: 2px solid rgba(255, 0, 0, 0.11);
  padding: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  width: 150px;
  text-align: center;
}


/* section4 style */

.section4 {
  padding-top: 4vw;
  padding-bottom: 4vw ;
}

.section4 h2, p {
  text-align: center;
}




.section5-img-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 30px; */
}

.section5-img-container img {
  width: 100px;
}



/* responsive style started */
@media (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  .banner-text {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .banner-section img {
    width: 80%;
    border-radius: 15px;
  }

  /* section1 related style */

  .section1 {
    flex-direction: column;
  }

  .section1-img-container {
    grid-template-columns: 1fr;
  }

  .section1-text-container {
    text-align: center;
  }

  /* section 2 related responsive */

  .section2 {
    padding: 5vw;
    flex-direction: column;
  }

  /* section 3 related style */

  /* .section3 {
    padding-left: 1vw;
    padding-right: 1vw;
    max-width: 300px;
    background-color: red;
    margin: 0 auto;

  } */

.section3-card {
  width: 100px;
  } 

  .section5-img-container {
    gap: 30px;
  }

}




/* tablet */

@media (min-width: 577px) and (max-width: 1366px ) {

  .section1 {
    flex-direction: column;
  }

  .section1-text-container {
    text-align: center;
  }
}
